<div class="container-fluid" style="background-color: aliceblue">
  <div class="container" style="text-align: center">
    <div class="row">
      <h2 class="mt-5">A fast and simple URL shortener</h2>
      <p
        class="d-flex justify-content-center mb-5"
        style="font-weight: 350; font-size: larger"
      >
        Free URL Shortener for transforming long, ugly links into nice,
        memorable and trackable short URLs. Use it to shorten links for any
        social media platforms, blogs, SMS, emails, ads, or pretty much anywhere
        else you want to share them. Twitter, Facebook, YouTube, Instagram,
        WhatsApp, emails, SMS, videos
      </p>
    </div>
  </div>
</div>
